
# Appium related configuration
appium {
  android {
   appFileName="ee.ria.libdigidocpp4.apk"
   appId="ee.ria.libdigidocpp"
   mainActivity="ee.ria.libdigidocpp.MainActivity"
   automationName="UiAutomator2"
  }
  ios {
    appFileName="ee.ria.libdigidocpp-ios.ipa"
    bundleId="ee.ria.libdigidocpp-ios"
    automationName="XCUITest"
    xcode {
      showLog=true
      orgID="ABCD1234"
    }
  }
}

# TestNG test suite file location
testSuiteFileDirectory="src/test/resources/test.xml"

testParameters {
  libLogFileName="digidocpp.log"
  # App validation result
  resultsFileName="result.json"
  # Signature files location
  dataFilesDirectory="dataFiles"
  # Result files location
  resultFilesDirectory="results"
  # Validation timeOut in seconds
  validationTimeOut=300
  validationWarningFileName="valid_files.txt"
  validationErrorFileName="faulty_files.txt"
  testResultsDirectory="results/testResults"
}
